<nav>
  <ul class="navbar">
    <li class="{{#if indexActive }}active{{/if}}">
      <a href="/">Index</a>
    </li>
    <li class="{{#if usersActive }}active{{/if}}">
      <a href="/users.html">Users</a>
    </li>
  </ul>
</nav>
